* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Gilroy";
}

body {
    background-color: rgb(253, 228, 158);
}

.Container {
    height: 1000px;
}

nav {
    background-color: black;
    color: white;
    height: 10vh;
    width: 100%;
    margin-bottom: 10px;
    position: sticky;
    top:0;
}

nav ul {
    display: flex;
    justify-content: end;
}


.main,.main-2{
    /* border: 1px solid red; */
    width: 80%;
    margin: auto;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    padding: 10px 15px;
}

.main-txt{
    font-size: 80px;
    font-weight: 800;
}

nav ul li {
    display: inline;
    margin: 3vh;

}

.main-img img{
    border-radius: 5px;
}